version: '3.8'

services:
  kakao-map-app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - REACT_APP_KAKAO_API_KEY=${REACT_APP_KAKAO_API_KEY}
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
